<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <title>Document</title>

</head>
<body>
<form method="post">
    <input required type="date" name="date" class="form-control"><br>
    <h6>Продукты</h6>
    <input id="text1" type="number" step="any" name="text1"  class="form-control form-control-sm"><br>
    <h6>Продукты бытовые</h6>
    <input id="text2" type="number" step="any" name="text2" class="form-control form-control-sm"><br>
    <h6>Одежда</h6>
    <input id="text3" type="number" step="any" name="text3" class="form-control form-control-sm"><br>
    <h6>Здоровье / красота</h6>
    <input id="text4" type="number" step="any" name="text4" class="form-control form-control-sm"><br>
    <h6>Кредиты / долги</h6>
    <input id="text5" type="number" step="any" name="text5" class="form-control form-control-sm"><br>
    <h6>Связь (телефон, интернет)</h6>
    <input id="text6" type="number" step="any" name="text6" class="form-control"><br>
    <h6>Транспорт (запчасти, проезд, бензин)</h6>
    <input id="text7" type="number" step="any" name="text7" class="form-control"><br>
    <h6>Развлечения и подарки</h6>
    <input id="text8" type="number" step="any" name="text8" class="form-control"><br>

    <input type="submit" class="btn btn-success" value="Добавить"><br><br>


</form>

</body>
</html>