<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css">
    <title>Финансы</title>

</head>
<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/income">Доходы</a>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Отчеты
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="/report">Расходы</a>
        <a class="dropdown-item" href="/report2">Доходы</a>
        <a class="dropdown-item" href="/yearreport">Годовой</a>
      </div>
    </div>
</nav>

<div class="container mt-5 w-25 p-3">

<form method="post">

    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm1">Дата</span>
        </div>
        <input required type="date" name="date" class="form-control form-control-sm" value={{date}}>
    </div>
    <br>

    <div class="input-group input-group-sm">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm2">Продукты</span><br>
        </div>
        <input id="text1" type="number" value="0" step="any" name="text1"  class="form-control form-control-sm">
    </div>
    <br>
    <div class="input-group input-group-sm">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm3">Продукты бытовые</span><br>
        </div>
        <input id="text2" type="number" value="0" step="any" name="text2" class="form-control form-control-sm">
    </div>
    <br>
    <div class="input-group input-group-sm">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm4">Одежда</span><br>
        </div>
        <input id="text3" type="number" value="0" step="any" name="text3"  class="form-control form-control-sm">
    </div>
    <br>
    <div class="input-group input-group-sm">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm5">Здоровье / красота</span><br>
        </div>
        <input id="text4" type="number" value="0" step="any" name="text4"  class="form-control form-control-sm">
    </div>
    <br>
    <div class="input-group input-group-sm">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm6">Кредиты / долги</span><br>
        </div>
        <input id="text5" type="number" value="0" step="any" name="text5"  class="form-control form-control-sm">
    </div>
    <br>
    <div class="input-group input-group-sm">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm7">Связь</span><br>
        </div>
        <input id="text6" type="number" value="0" step="any" name="text6"  class="form-control form-control-sm">
    </div>
    <br>
    <div class="input-group input-group-sm">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm8">Транспорт</span><br>
        </div>
        <input id="text7" type="number" value="0" step="any" name="text7"  class="form-control form-control-sm">
    </div>
    <br>
    <div class="input-group input-group-sm">

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm9">Развлечения и подарки</span><br>
        </div>
        <input id="text8" type="number" value="0" step="any" name="text8"  class="form-control form-control-sm">
    </div>
    <br>
    <input type="submit" class="btn btn-success btn-sm btn-block" value="Добавить">
</form>

</div>


</body>
</html>