<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css">
    <title>Отчет</title>
</head>
 <body>

 <nav class="navbar fixed-top navbar-dark bg-dark">
     <div class="form-inline">

     <form  method="post">
         <input required type="date" name="date_start" class="form-control">
         <input required type="date" name="date_end" class="form-control">
         <input type="submit" class="btn btn-success" value="Выполнить">
         <a class="btn btn-secondary" href="/">На главную</a>
    </form>
         </div>
</nav>
<div class="container mt-5">
    <h4>{{date_start}} - {{date_end}}</h4>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Дата</th>
      <th>Продукты</th>
      <th>Продукты бытовые</th>
        <th>Одежда</th>
        <th>Здоровье</th>
      <th>Кредиты</th>
        <th>Связь</th>
        <th>Транспорт </th>
        <th>Развлечения</th>
        <th >ИТОГО:</th>
    </tr>
  </thead>
  <tbody>

    <tr>
        {% for el in row %}
        {% for el in el %}

      <td>
          {{el}}

      </td>
        {% endfor %}

        <td>
            <b>{{el[1]+el[2]+el[3]+el[4]+el[5]+el[6]+el[7]+el[8]}}</b>
        </td>
    </tr>
    {% endfor %}
    <tr>
<th>ИТОГО:</th>
        {% for el in list_total %}

        <th>{{el}}</th>
    {% endfor %}

    </tr>

  </tbody>
</table>
</div>

 </body>
</html>